// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file,  but it's generally better to create a new file per style scope.

//= require_self
//= require guiders
//= require fancybox
//= require fancybox_buttons
//= require fancybox_thumbs
//= require progress
//= require_tree .
@import 'variables';

.hidden {
  display: none;
}

body article.container {
  margin-top: 75px;
  p {
    font-size: 16px;
    line-height: 1.75em;
  }
}

.topbar-inner {
  background: $secondary_color;
  background-image: -webkit-linear-gradient(45deg, rgba(240, 240, 240, .1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%, transparent 75%, transparent);
  background-size: 20px 20px;

  .brand {
    position: absolute;
    left: 50px;
    padding: 20px 28px 18px 28px;
    font-size: 34px;
    font-family: 'Spirax', cursive;
    background-color: $primary_color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45),inset 0 -1px 0 rgba(0, 0, 0, 0.2);
    &:hover { background: lighten($primary_color, 7%); }
  }

  a {
    color: darken($minor_color, 5%);
    &.close { color: $dark }
  }

  .nav.secondary-nav li:last-child a { color: $minor_color; }
}
