// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.

//= require_self
//= require guiders
//= require fancybox
//= require fancybox_buttons
//= require fancybox_thumbs
//= require_tree .

.hidden {
  display: none;
}

body > article.container {
  margin-top: 65px;
}

.row {
  margin-left: 0;
}

header #Notifications {
  margin-top: 45px;
}

meter.bar {
  box-shadow: 0 1px 2px #DDD inset;
  border: 1px solid #DDD;
  background: #9CA0A9;
  background: -moz-linear-gradient(center top, #EEE, #FAFAFA);
  background: -webkit-linear-gradient(#EEE, #FAFAFA);
  height: 2em;
  display: block;
  position: relative;
}

meter.bar .fill {
  border: 1px solid #0064CD;
  background: #0064CD;
  background: -moz-linear-gradient(center top , #049CDB, #0064CD);
  background: -webkit-gradient(linear, center top, center bottom, from(#049CDB), to(0064CD));
  min-width: 1px;
  height: 100%;
  margin: -1px;
  display: block;
}

meter.bar .twipsy {
  width: 40px;
  bottom: 100%;
  margin-left: -25px;
  margin-bottom: 2px;
}
